CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax9000=y

#####################################################################
# NSS Offloading
#####################################################################
# NOTE: qca-nss-drv, qca-nss-ecm, qca-nss-drv-bridge-mgr and
# qca-nss-drv-vlan-mgr don't need to be explicitly selected, as they
# are automatically selected by the target platform.
#
# Settings below explicitly enable NSS offloading support for multicast
# snooping, SQM traffic shaping, and mesh support.
CONFIG_ATH11K_NSS_MESH_SUPPORT=y

# QCA Multicast Snooping (ECM)
CONFIG_PACKAGE_kmod-qca-mcs=y

# NSS SQM Traffic Shaping
CONFIG_PACKAGE_sqm-scripts-nss=n

# Additional NSS packages
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y

# Disable Ath10k
CONFIG_PACKAGE_ath10k-firmware-qca9887=n
CONFIG_PACKAGE_kmod-ath10k=n
CONFIG_ATH10K_LEDS=n

#####################################################################
# Compiler Optimization
#####################################################################
# CONFIG_CCACHE=y
CONFIG_DEVEL=y
CONFIG_EXPERIMENTAL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_TARGET_OPTIONS=y
CONFIG_BINUTILS_USE_VERSION_2_46=y
CONFIG_GCC_USE_VERSION_15=y
CONFIG_USE_LTO=y
# CONFIG_USE_MKLIBS is not set
CONFIG_USE_MOLD=y
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -mcpu=cortex-a53+crc+crypto"
CONFIG_USE_GC_SECTIONS=y

# Kernel Config
CONFIG_BUILD_PATENTED=y

# Reduce kernel module size
# Disable unnecessary debugging for Wi-Fi driver.
CONFIG_ATH11K_DEBUGFS_HTT_STATS=n
CONFIG_ATH11K_DEBUGFS_STA=n
# Disables thermal throttling support for ath11k.
CONFIG_ATH11K_THERMAL=n

#####################################################################
# SSL Configuration
#####################################################################
# Use OpenSSL as the preferred SSL library
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_apk-mbedtls=n
CONFIG_PACKAGE_apk-openssl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_LUA_ECO_OPENSSL=y

# Optimize OpenSSL for speed over size
CONFIG_OPENSSL_OPTIMIZE_SPEED=y

#####################################################################
# Wireless Configuration
#####################################################################
# Enable WPA3 and Mesh support
# CONFIG_PACKAGE_wpad-mesh-openssl=y
CONFIG_PACKAGE_wpad-basic-openssl=y
# Avoid using mbedTLS for consistency across packages and to avoid mixed SSL libraries.
CONFIG_PACKAGE_wpad-basic-mbedtls=n

#####################################################################
# Library Optimization
#####################################################################
# Optimize common libraries (zlib, zstd) for speed, improving performance on compression tasks.
CONFIG_ZLIB_OPTIMIZE_SPEED=y
CONFIG_ZSTD_OPTIMIZE_O3=y

#####################################################################
# Feeds Configuration
#####################################################################
# Prevent opkg from adding custom feeds to /etc/opkg/distfeeds.conf in the final image.
CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n

# --- Essential Packages ---

#####################################################################
# LUCI (the web interface)
#####################################################################
CONFIG_PACKAGE_luci=y
# Enable HTTPS support
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_LUCI_LANG_zh_Hans=y

# Network
# Bridge module support for working with nftables for more complex firewall setups.
CONFIG_PACKAGE_kmod-nft-bridge=y
# CONFIG_PACKAGE_kmod-nft-queue=y
# CONFIG_PACKAGE_kmod-tcp-bbr=y

# DNS
# CONFIG_PACKAGE_dnscrypt-proxy2=y

# tcpdump: Capture and analyze network traffic.
CONFIG_PACKAGE_tcpdump=y

# curl
CONFIG_PACKAGE_curl=y
CONFIG_LIBCURL_HTTP3=y
CONFIG_LIBCURL_ZLIB=y
CONFIG_LIBCURL_ZSTD=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_MBEDTLS=n

# Tools
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_pigz=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
# CONFIG_PACKAGE_knot-dig=y

CONFIG_HTOP_LMSENSORS=n
CONFIG_PACKAGE_kmod-phy-aquantia=n
CONFIG_PACKAGE_luci-app-attendedsysupgrade=n
CONFIG_PACKAGE_attendedsysupgrade-common=n

CONFIG_IMAGEOPT=y
CONFIG_TARGET_DEFAULT_LAN_IP_FROM_PREINIT=y
CONFIG_PREINITOPT=y
CONFIG_TARGET_PREINIT_IP="10.0.0.1"
CONFIG_TARGET_PREINIT_NETMASK="255.255.255.0"
CONFIG_TARGET_PREINIT_BROADCAST="10.0.0.255"
